 body 
 {
    margin: 0;
    background: linear-gradient(90deg, rgba(29,28,38,1) 0%, rgba(36,28,28,1) 100%); 

    color: white !important;
 }
 
 .postDiscussion 
 {
    display: flex;
    justify-content: center;
 }
 .postDiscussion form input, textarea

 {
    display: flex;
    justify-content: center;
 }
 .header 
{
    padding: 3rem 9rem 3rem 9rem;
    display: flex;
    justify-content:flex-end;
    gap: 2rem;
 
 
}
.header button 
{
   padding: 1rem;
   background-color: transparent;
   border: none;
 
}
button:hover
{
   cursor:pointer;
}
button
{
   color: white !important;
}
.postDiscussion form input, .postDiscussion form textarea
{
   padding: 2rem;
   font-size: 16px;
}
.postDiscussion button 
{
   display: flex;
   width: 100%;
   background-color: rgb(0, 122, 75);
   padding: 0.5rem;
   border-radius: 10px;
   font-weight: 700;
   text-align: center;
   justify-content: center;
   color: white;
   border: none;
   transition: background-color 0.3s;

}
.postDiscussion form input 
{
   width: 100%;
}
.postDiscussion h2 
{
   text-align: center;
}
.postContainer {
   display: flex;
   justify-content: center; /* Horizontal centering */
   align-items: center; /* Vertical centering */
   height: 100vh; /* Adjust the height as needed */
}

.post  button 
{
   padding: 1rem;
 
   font-weight: 700;
}
.postContainer div div 
{
   width: 500px;
  text-align: center;
  background-color: rgb(40, 40, 40);
  border-radius: 10px;
  padding: 0.2rem;
}
.post form button 
{
   color:  black !important;
}