 

 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: white !important;
}
 
 
.loginContainer 
{
    justify-content: center;
    display: flex;
}
    
.loginContainer input 
{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgb(30, 30, 30);
    -moz-box-shadow: 0 0 3px #272727;
    -webkit-box-shadow: 0 0 3px #303030;
    box-shadow: 0 0 3px #242424;
    border: none;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);  
    color: white;
 
}
 